<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infinite Scroll</title>
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div id="app" v-cloak> <!-- обернули верстку в основной блок #app -->
      <div class="posts">
        <div class="container">
          <div class="posts__title">Infinite Scroll</div>
          <div class="posts__list">
            <div
              class="posts__post post"
              v-for="post in posts" <!-- добавили атрибут v-for -->
              :key="post.id" <!-- добавили атрибут :key -->
            >
              <div class="post__id">{{post.id}}</div> <!-- здесь будем выводить идентификатор поста -->
              <div class="post__title">{{post.title}}</div> <!-- здесь будем выводить название поста -->
              <div class="post__body">{{post.body}}</div> <!-- здесь будем выводить текст поста -->
            </div>
          </div>
          <div class="posts__loading" v-if="more"> <!-- добавили условный атрибут v-if -->
            <svg viewBox="25 25 50 50">
              <circle cx="50" cy="50" r="20"></circle>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <script src="js/vue.global.prod.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
